
#abecedaire

  %h2 Abécédaire des pensionnaires

  - for classe, animaux in @classes do
    %h3= classe
    
    - for animal in animaux
      %ul    
        %li
          %a{:href => "/animal/#{animal.id}"}
            = animal.nom

