
#taxonomies
  %h2 Taxonomies des pensionnaires
  %ul
    - for taxonomy in @taxonomies do
      %li
        %a{:href => "/taxonomie/#{taxonomy}"}
          = strong_capital_letter taxonomy

#taxonomie
  %h2 Abécédaire des pensionnaires
  %ul
    - for animal in @animals
      %li
        %a{:href => "/animal/#{animal.id}"}
          = strong_capital_letter animal.nom

