%h2 Auteurs

.auteur
  %h3 Kerdekel
  %p.avatar
    %img{:src => "http://www.gravatar.com/avatar/d7dfa190bef7874287d2a03172e11c89?s=150", :alt => "[Avatar de Kerdekel]", :width => 150, :height => 150}
  %p plieuse/co-directrice/rédactrice
  %p tortue/chat
  %blockquote "les chaises, c'est la vie."

.auteur
  %h3 Sunny
  %p.avatar
    %img{:src => "http://sunfox.org/trucs/images/sunnyripert", :alt => "[Avatar de Sunny]", :width => 150, :height => 150}
  %p co-directeur/webmaster
  %p renard
  %blockquote "ceux qui ne font pas d'erreur ne font rien"


