%h2 Auteurs

.auteur#kerdekel
  %h3 Kerdekel
  %p.avatar
    %img{:src => "/images/auteurs/kerdekel.jpg", :alt => "[Avatar de Kerdekel]", :width => 150, :height => 150}
  %p Plieuse/Co-directrice/Rédactrice
  %p Tortue/Chat
  %blockquote "Les chaises, c'est la vie."

.auteur#sunny
  %h3 Sunny
  %p.avatar
    %img{:src => "/images/auteurs/sunny.jpg", :alt => "[Avatar de Sunny]", :width => 150, :height => 150}
  %p Co-directeur/Webmaster
  %p Renard
  %blockquote "Ceux qui ne font pas d'erreur ne font rien."

.auteur#francois
  %h3 Francois
  %p.avatar
    %img{:src => "/images/auteurs/francois.png", :alt => "[Avatar de Francois]", :width => 150, :height => 150}
  %p Plieur/Photographe
  %p Marsupilami
  %blockquote "Demain, il fera jour."

.auteur#michel_v
  %h3 Michel V
  %p.avatar
    %img{:src => "/images/auteurs/michelv.jpg", :alt => "[Avatar de michel v]", :width => 150, :height => 150}
  %p Photographe
  %p Cachalot
  %blockquote "Plus ça a l'air facile, plus il y a eu d'efforts en ce sens."

