#carte
  %img{:src => "/images/map.png", :alt => "[Carte du zoo]"}

  %ul
    - for taxonomy in Taxonomy.all
      %li{:id => "link-#{taxonomy.id}"}
        %a{:href => "/taxonomie/#{taxonomy.id}", :title => taxonomy.name}= taxonomy.name

    %li#link-ailleurs-land
      %a{:href => "/liens", :title => "Ailleurs Land"} Ailleurs Land
    %li#link-boite-aux-lettres
      %a{:href => "/nous-ecrire", :title => "Boîte aux Lettres"} Boîte aux Lettres
    %li#link-accueil
      %a{:href => "/", :title => "Accueil"} Accueil
    %li#link-staff
      %a{:href => "/auteurs", :title => "Staff"} Staff
    %li#link-faq
      %a{:href => "/faq", :title => "Faq"}
        %abbr Faq

