.error
  %h2= "Erreur #{@error_code}"

  #pancarte
    %p= "Vous vous trouvez en face d'un specimen d'erreur #{@error_code}."
    %p Ne lui tournez pas le dos, ne faites pas de gestes brusques&hellip;
    %p Reculez doucement, très doucement&hellip;
    %p Voilà. Vous pouvez retourner sur vos pas calmement.
