#faq
  %h3 Vous êtes qui&nbsp;?

  Nous sommes les gardiens du Zoo Roux Gami. Notre staff comprends des plieurs, des photographes, et autres gardes forestiers qui maintiennent ce parc en bon état.



  %h3 J'en ai visité des zoos, mais des comme celui-ci, j'en ai jamais vu. Je suis perdu de chez lost sur la bankiz là... 

  Vous pouvez vous promener de 3 façons.
  %ul
    %li La première consiste à suivre les petits pas de félin, près de la pancarte sous l'image, et vous laisser porter au gré du vent.
    %li La deuxième consiste à aller fouiller dans l'abécédaire et vous rendre directement vers l'animal de votre choix.
    %li La troisième consiste à regarder la zoo map, et aller dans la partie de votre choix.

  %h3 C'est quoi les parties&nbsp;?Comment ça marche&nbsp;?

  Contrairement à beaucoup de zoos qui organisent leurs animaux plus ou moins par zones géographiques, les différentes parties de ce parc sont organisées par classes. 
  Comme la taxinomie, c'est quelque chose de relativement prenant, vu que comme le système de Dewey, il y aura toujours une exception inclassable, nous avons tenté de regrouper un minimum. 
  En clair et en décrypté, on a un peu notre propre taxinomie.
  Donc oui, on sait, les grenouilles, c'est pas vraiment des reptiles, mais on va faire comme si. 

  Bref, 7 "classes" sont représentées dans cette réserve pour le moment.

  %ul
    %li
      %p
        %strong Partie 1 du zoo, les Mammifères.
        Humains inclus. Un débat est en cours pour savoir si nous pouvons intégrer l'enclos de Yoda dans cette partie ou si on le compte comme un batracien.
    %li
      %p
        %strong Partie 2, les Oiseaux.
        Nous accueillons toutes sortes d'oiseaux, à l'exception des avions et Superman. Non, Batman non plus (à moins d'être joué par Robert Downey Jr, ce qui est impossible puisque c'est Ironman).
    %li
      %p
        %strong Partie 3, les Reptiles.
        Ici sont donc accueillis les reptiles (tortues, serpents, crocodiles, etc) mais aussi, comme dit plus haut, les amphibiens (grenouilles, crapauds...). Nous vous rappellons que V est une série, qu'en fait les Visiteurs sont des acteurs et que ces derniers sont donc des humains. Et oui, c'était un piège. :)
    %li
      %p
        %strong Partie 4, les Poissons.
        Faites attention à ne pas tomber à l'eau, elle est froide, on ira sans doute pas vous chercher. En plus on a piscine. Ailleurs. Chauffée.
    %li
      %p
        %strong Partie 5, **les Invertébrés**.
        Aaaaah, THE taxon qui tue. Les araignées, on les met avec les insectes&nbsp;?Bah non, c'est des arachnides. Mais on va pas faire un groupe juste pour quelques araignées&nbsp;?Bah si, les scorpions et les crabes en font partie. Les crabes, c'est pas des crustacés&nbsp;?Et justement à ce propos, où on met les mollusques&nbsp;?Les parasites, les microbes&nbsp;?
      %p
        Donc zou&nbsp;! Invertébrés. 
    %li
      %p
        %strong Partie 6, Espèces Eteintes.
        Au début, ça devait se nommer Dinosaures, mais imaginez qu'on accueille un mammouth, un thylacine ou un dodo un jour? Comment on fait&nbsp;?Voilà. 
      %p
        Donc, les espèces éteintes, comme leur nom l'indiquent sont des espèces que vous n'êtes pas prêts de voir ailleurs qu'ici ou dans les livres d'Histoire. Nous tenons à rappeller à nos aimables visiteurs qu'Hervé Vilard ne fait pas partie de cette catégorie, pas plus que les autres chanteurs de Schrödinger, ni plus que le chat du même nom. Un partie Quantique est à l'étude, un peu de patience, Rome ne s'est pas faite en un jour&nbsp;! :) 

    %li
      %p
        %strong Partie 7, Classé X.
      %p
        Non, ce n'est pas ce que vous croyez. Ici, vous trouverez tout le bestiaire imaginaire ou soi-disant, des animaux de contes et fables comme le lièvre et la tortue ou les licornes, en passant par les dragons et autres phoenix, dont on a pas encore prouvé l'existence et qui relèvent donc de dossiers classés top secret. Partie lue et approuvée par Fox et Dana!


  %h3 A ce propos, je cherche le Monstre du Loch Ness...

  Bon courage. :)






  %h3 Nan mais sérieusement. Il parait que ce serait un plésiosaure qui aurait survécu...

  Ce n'est pas possible. 
  Par pure curiosité, vous connaissez la taille d'un plésiosaure (dont nous avons un ravissant spécimen)&nbsp;?Et celle du Loch Ness&nbsp;?
  Vous croyez sincérement qu'un animal de cette taille aurait pu se cacher des radars et surtout survivre sans qu'on remarque une pénurie de poissons et sans se reproduire&nbsp;?
  Alors, vous nous direz, "ils sont peut-être plusieurs". Mais un animal de cette taille qui échappe au sonar, c'est déjà peu probable, alors une dizaine (c'est qu'il faudrai d'individus pour considérer que l'espèce "peut" survivre)&nbsp;?





  %h3 Quoi&nbsp;?Nessie existe pas&nbsp;?! :,(

  On dit pas ça, on dit juste que c'est pas un plésiosaure. 
  C'est très probablement une sorte de gros esturgeon préhistorique qui s'est retrouvé coincé lors d'une crue (c'est la théorie à la mode et la plus probable, après tout on a bien retrouvé un coelacanthe récemment), on ne sait pas. Ca dépends surtout de comment est rempli le verre avec la boisson locale... 
  Quand il est presque vide et que c'est le 16ème, on peut envisager que ce soit un gros canard radioactif vert et rose fluo, sans trop se tromper.






  %h3 Ah j'ai eu peur&nbsp;! Encore un peu et je vous entendai dire que la petite souris, la marmotte et le chocolat, les rennes volants, toussa toussa, ça existait pas...

  Bien sûr que ça existe. Nous avons un magnifique spécimen de Santa Claus dans la partie Classé X, passez donc le voir et munissez vous de cookies et de lait, il adore. 
  Tendez bien la main par contre, sinon il mords les doigts, il les confonds avec sa nourriture.



  %h3 Sinon, ce parc, de quoi est-il fait&nbsp;?On est où en fait&nbsp;?

  Nous sommes sur la terre Béarnaise, qui possède plein d'espace pour laisser nos petits compagnons de tous pelages courir heureux et libre comme l'air pieds nus dans l'herbe (oui même les poissons et les serpents), qui pousse grâce à Sinatra, et ceci, 7 jours sur 7, night and day (You are the oooone... Only youuu beneath the moon or under the suuuun... Whether near to me, or faaaaaaaar... It's no matter darling where you are, I think of youuuuu...).

  Les braconniers qui voudraient kidnapper les images n'ont qu'à bien se tenir, la Licence Art Libre protège les droits de nos petites créatures. 






  %h3 Et sinon, Dieu tue un chaton c'est ça&nbsp;?

  Nous n'avons pas de spécimen de dieux mais il est évident que si nous en avons un, il sera éloigné de la partie des chatons. Pas de craintes.






  %h3 Sérieusement&nbsp;?

  Non. 
  Demandez-nous, avant de récupérer une image.
  Sinon Dieu tuera effectivement un chaton. (Et il se fiche que vous soyez athée ou agnostique! It's ALIIIIVE!)
   





  %h3 Vous savez, je suis un formidable gardien de zoo. Vous embauchez&nbsp;?

  Oui&nbsp;! On cherche des plieurs et des photographes. Mais surtout des plieurs. :)




  %h3 Je l'envois où mon cv&nbsp;?

  Ici. :)





  %h3 Rappellez moi les conditions du poste&nbsp;?

  Pour les plieurs, vous devez plier un animal entier (donc une boîte lapin, un buste, ou encore une tête ne comptent pas, pour ça adressez-vous plutôt à un boucherigami), dans du papier orange. Ca peut être du papier à origami, mais ça peut être aussi du papier imprimerie, un vieux tract, un ticket de transport, du pq (bonne chance!), etc. N'importe quoi comme papier en fait, du moment que c'est orange. Il vous sera toutefois demandé pour chaque pancarte de signaler le papier utilisé. Connaître le pelage, c'est important. :)
  Il faudra également indiquer la provenance de l'animal, à savoir où on trouve son diagram. Si c'est un site, mettez l'url du site, si c'est dans un livre, un lien vers un endroit où on peut se procurer le livre...

  Pour les photographes, vos photos devront faire 400*300 px.
  Sur fond blanc. Nos animaux sont de vraies stars. 








  %h3 J'aimerai beaucoup signer un livre d'or pour vous féliciter de ce magnifique parc zoologique&nbsp;/ <br/> J'aimerai vous faire une réclamation&nbsp;/ <br /> J'aimerai beaucoup de choses dont la paix sur Terre mais dans un premier temps vous dire que votre zoo est nul, il a pas cessé de pleuvoir des erreurs et des bugs, alors qu'on m'avait promis des grenouilles, des chiens et des chats&nbsp;/ <br /> On fait comment pour vous parler de l'autre côté du grillage&nbsp;?

  Nous n'avons pas de livre d'or, ça démagnétise notre freezer à gelée anglaise. 
  Mais vous avez une partie Boîtes aux lettres, où vous trouverez de jolis formulaires de contact. N'hésitez pas à nous écrire. :)

  On s'engage de notre côté à garder vos coordonnées secrètes de témoins protégés par la CIA et ne pas les transmettre à des personnes mal attentionnées, ou à les jeter aux requins (ils sont déjà bien assez nourris comme ça les pépères).




  %h3 Vous voulez être mon orouxg-ami, comme ça on s'échangent nos adresses&nbsp;?

  Non. :) 
  (Mais c'était bien tenté)

  On a une partie avec des adresses d'endroits rigolos en rapport avec l'origami ceci dit.





  %h3 Et des fois, vous parlez normalement&nbsp;?

  Non. :)





  %h3 Et vous les trouvez comment vos jeux de mot vaseux sur les origamis&nbsp;?

  Avec une pelle bien sûr (il faut creuser un peu), dans le Marais. Principalement dans la rue des roux-ziers. 
  Et des fois à Guimet, dans certains vases origa-Ming. 




  %h3 Et vous avez que ça à foutre&nbsp;?

  Oui. :)











   








