!!!
%html
  %head
    %title
      Orouxgami
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %link{:rel => 'stylesheet', :href => '/stylesheet.css', :type => 'text/css'}

  %body
    #page
      #header
        %h1
          %a{:href => "/"}
            Le Merveilleux et Fabuleux Zoo Roux
        %p
          Si j'étais roux, si j'étais rousse, je serai un orouxgami.

      #menu
        %ul
          %li.abecedaire
            %a{:href => "/taxonomie"}  Abécédaire des pensionnaires
          %li.zoo-map
            %a{:href => "/carte"}       Zoo Map
          %li.auteurs
            %a{:href => "/auteurs"}     Auteurs
          %li.faq
            %a{:href => "/faq"}         Faq
          %li.nous-ecrire
            %a{:href => "/nous-ecrire"} Nous écrire

      #contents
        = yield

      #footer
        %p Le site zoologique d'orouxgami est conçu avec <a href="http://github.com/sunny/orouxgami/" hreflang="en" title="Voir tout le code source de ce site web">Sinatra</a>, hebergé sur la vaste terre -sauvage- <a href="http://bearnaise.net">bearnaise</a>. <br /> Espèces protégées des -méchants- braconniers par la <a href="http://fr.wikipedia.org/wiki/Licence_Art_Libre">Licence Art Libre</a>.

