body
  padding: 0 5em
  margin: 0
  background: black
  color: white
  font: 1em Helvetica, sans-serif
  text-align: center

a
  color: orange


  img
    border: none


#page
  width: 794px
  margin: 0 auto

#contents
  text-align: left

#header
  h1
    a
      display: block
      text-indent: -9000em
      background: url(/images/title.png) no-repeat top left
      height: 103px
      color: orange
  p
    display: none

#menu
  ul
    margin: 0
    padding: 0
    list-style-type: none
    height: 22px

    li
      display: inline
      padding-right: 1em
      
      a
        display: inline-block
        text-indent: -9000em
        color: orange
        line-height: 22px
        height: 22px
        margin-right: 20px
        background-repeat: no-repeat

        &:hover
          opacity: .5

      &.abecedaire a
        background-image: url(/images/abecedaire.png)
        width: 276px
      &.auteurs a
        background-image: url(/images/auteurs.png)
        width: 68px
      &.zoo-map a
        background-image: url(/images/zoo-map.png)
        width: 74px
      &.faq a
        background-image: url(/images/faq.png)
        width: 29px
      &.nous-ecrire a
        background-image: url(/images/nous-ecrire.png)
        width: 105px

#animal

  #precedent a, #suivant a
    height: 62px
    text-indent: -9000em
    &:hover
      opacity: .5

  #precedent a
    float: left
    width: 115px
    background: url(/images/leftprints.png) no-repeat

  #suivant a
    float: right
    width: 115px
    background: url(/images/rightprints.png) no-repeat

  h2
    display: none

  #pancarte
    margin-left: 200px

    dt
      float: left
      clear: both
      width: 8em
      margin-right: 1em
      text-align: right
    dd
      margin: 0
      float: left

