!orange = #d17015
!pale = #c8ae92
!pale2 = #ffeed6
!dark = #5d341d
!grey = #857a70

!background = !pale
!text = black
!titles = !dark


body
  padding: 0 5em
  margin: 0
  background= !background
  color= !text
  font: 1em Helvetica, sans-serif
  text-align: center

a
  color= !dark


  img
    border: none

h2, h3, h4, h5, h6, strong
  color= !titles

#page
  width: 794px
  margin: 0 auto

#contents
  text-align: left

#header
  h1
    a
      display: block
      text-indent: -9000em
      background: url(/images/title.png) no-repeat top left
      height: 103px
      color= !orange
  p
    color= !pale
    display: none

#menu
  ul
    margin: 0
    padding: 0
    list-style-type: none
    height: 22px

    li
      display: inline
      padding-right: 1em
      
      a
        display: inline-block
        text-indent: -9000em
        color= !dark
        line-height: 22px
        height: 22px
        margin-right: 20px
        background-repeat: no-repeat

        &:hover
          opacity: .5

      &.abecedaire a
        background-image: url(/images/abecedaire.png)
        width: 276px
      &.auteurs a
        background-image: url(/images/auteurs.png)
        width: 68px
      &.zoo-map a
        background-image: url(/images/zoo-map.png)
        width: 74px
      &.faq a
        background-image: url(/images/faq.png)
        width: 29px
      &.nous-ecrire a
        background-image: url(/images/nous-ecrire.png)
        width: 105px

#animal
  position: relative

  #precedent a, #suivant a
    position: absolute
    top: 0
    height: 62px
    text-indent: -9000em
    &:hover
      opacity: .5

  #precedent a
    left: 0
    width: 115px
    background: url(/images/leftprints.png) no-repeat

  #suivant a
    right: 0
    width: 115px
    background: url(/images/rightprints.png) no-repeat

  h2
    display: none

#pancarte
  background: url(/images/pancarte.png) no-repeat top left
  margin-left: 200px
  margin-right: 200px
  padding: 20px 0
  height: 460px
  

  dt
    float: left
    clear: both
    width: 8em
    margin-right: 1em
    text-align: right
  dd
    margin: 0
    float: left

.auteur
  background= !dark
  color: white
  padding: .1em 1em 1em 1em
  margin: 1em 0 1em 0
  -moz-border-radius: .5em
  -webkit-border-radius: .5em
  position: relative

  h3, p, blockquote
    margin-left: 170px
    margin-bottom: 0
  
  h3
    color: white
  
  .avatar
    position: absolute
    top: .5em
    margin: 0
