!orange = #d17015
!pale = #c8ae92
!pale2 = #ffeed6
!dark = #5d341d
!grey = #857a70

!background = black
!text = white
!titles = !pale


body
  padding: 0 5em
  margin: 0
  background= !background
  color= !text
  font: 1em Helvetica, sans-serif
  text-align: center

a
  color= !orange


  img
    border: none

h2, h3, h4, h5, h6, strong
  color= !titles

#page
  width: 800px
  margin: 0 auto

#contents
  text-align: left

#header
  h1
    a
      display: block
      text-indent: -9000em
      background: url(/images/title.png) no-repeat
      height: 113px
      color= !orange
      -moz-border-radius: .5em
      -webkit-border-radius: .5em
      border: 5px dotted black

      &:focus
        outline: 0
        border-color= !dark + 20

  p
    color= !pale
    display: none

#menu
  ul
    margin: 0
    padding: 0
    list-style-type: none
    height: 32px

    li
      display: inline
      padding-right: 1em
      
      a
        display: inline-block
        text-indent: -9000em
        color= !dark
        line-height: 22px
        height= 25px
        margin-right: 10px
        background-repeat: no-repeat
        background-position: 3px 3px
        -moz-border-radius: .2em
        -webkit-border-radius: .2em
        border: 3px dotted black

        &:focus, &:hover, &:active
          outline: 0
          border-color= !dark + 20

      &.abecedaire a
        background-image: url(/images/abecedaire.png)
        width= 276px + 6px
      &.auteurs a
        background-image: url(/images/auteurs.png)
        width= 68px + 6px
      &.zoo-map a
        background-image: url(/images/zoo-map.png)
        width= 74px + 6px
      &.faq a
        background-image: url(/images/faq.png)
        width= 29px + 6px
      &.nous-ecrire a
        background-image: url(/images/nous-ecrire.png)
        width= 105px + 6px

#taxonomie
  float: right
  padding: 1em

#abecedaire
  float: left
  padding: 1em

#taxonomie, #abecedaire
  ul
    list-style-type: none
    margin: 0 0 0 2em
    padding: 0

#animal
  position: relative

  #precedent a, #suivant a
    position: absolute
    top: 0
    height: 72px
    width: 125px
    text-indent: -9000em
    background-repeat: no-repeat
    background-position: 5px 5px
    
    border: 5px dotted black
    -moz-border-radius: 10px

    &:hover, &:focus, &:active
      outline: 0
      border-color= !dark

  #precedent a
    left: 0
    background-image: url(/images/leftprints.png)

  #suivant a
    right: 0
    background-image: url(/images/rightprints.png)

  h2
    display: none

#pancarte
  background: url(/images/pancarte.png) no-repeat top left
  margin-left: 200px
  margin-right: 200px
  padding: 20px 0
  height: 460px
  color: black

  dt
    color= !dark
    float: left
    clear: both
    width: 8em
    margin-right: 1em
    text-align: right
  dd
    margin: 0
    float: left

.auteur
  background= !dark
  color: white
  padding: .1em 1em 1em 1em
  margin: 1em 0 1em 0
  -moz-border-radius: .5em
  -webkit-border-radius: .5em
  position: relative

  h3, p, blockquote
    margin-left: 170px
    margin-bottom: 0
  
  h3
    color: white
  
  .avatar
    position: absolute
    top: .5em
    margin: 0


.error
  text-align: center


#carte
  position: relative
  ul
    position: absolute
    list-style-type: none
    margin: 0
    padding: 0
    top: 17px
    li
      a
        position: absolute
        display: block
        height: 100%
        -moz-border-radius: 10px
        -webkit-border-radius: 10px
        text-indent: -9000em
        
        &:hover, &:focus, &:active
          border= 5px dotted !dark
          opacity: .8

  #link-oiseaux a
    height: 140px
    left: 119px
    top: 86px
    width: 249px
  #link-reptiles a
    height: 198px
    left: 71px
    top: 248px
    width: 232px

  #link-poissons a
    height: 94px
    left: 234px
    top: 402px
    width: 298px

  #link-invertebres a
    height: 140px
    left: 563px
    top: 384px
    width: 202px

  #link-mammiferes a
    height: 217px
    left: 618px
    top: 71px
    width: 189px

  #link-classe-x a
    height: 100px
    left: 516px
    top: 168px
    width: 100px

  #link-especes-eteintes a
    height: 100px
    left: 380px
    top: 100px
    width: 135px

  #link-ailleurs-land a
    height: 59px
    left: 503px
    top: 317px
    width: 136px

  #link-boite-aux-lettres a
    height: 69px
    left: 306px
    top: 294px
    width: 142px

  #link-accueil a
    height: 75px
    left: 292px
    top: 214px
    width: 106px

  #link-staff a
    height: 77px
    left: 403px
    top: 204px
    width: 107px

  #link-faq a
    height: 50px
    left: 467px
    top: 273px
    width: 150px


